@model IEnumerable<HappyTrees.Models.Painting>

@{
    ViewData["Title"] = "AllPaintings";
}

<style>
    h1 {
        font-size : 48px;
    }

    .painting-grid {
        display: grid;
        grid-template-columns: 256px 256px 256px 256px;
        grid-template-rows: repeat(auto-fill minmax(256px, 320px));
        grid-gap: 16px;
    }

    .painting-preview{
        display: grid;
        grid-template-rows: auto auto auto;
    }

    .painting-thumbnail{
        width: 256px;
    }

    .painting-ID{
        font-size: 14px;
    }

    .painting-name{
        font-size: 14px;
        font-weight: 500;
    }
</style>

<h1>All Paintings</h1>

<div class="painting-grid">
    @foreach (var item in Model)
    {
        string paintingID = "S" + item.Season + "E" + item.Episode;
        string paintingName = item.Title;

            <div class="painting-preview">
                <div>
                    <img class="painting-thumbnail" src="@Url.Content(item.ThumbnailFile)" alt="Painting Thumbnail">
                </div>
                <div class="painting-ID">
                    @paintingID
                </div>
                <div class="painting-name">
                    @paintingName
                </div>
            </div>
    }
</div>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <h2>
                    @Html.DisplayFor(modelItem => item.Title)
                    <br>
                    <img src="@Url.Content(item.ThumbnailFile)" alt="Painting Thumbnail">
                </h2>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Episode)
            </td>
        </tr>
}
    </tbody>
</table>*@
