@model HappyTrees.Models.Painting

@{
    ViewData["Title"] = "PaintingDetails";
}

<style>
    h1 {
        font-size: 14px;
    }
    
    h2 {
        font-size: 48px;
    }

    .painting-details{
        display: grid;
        grid-template-columns: 512px 480px;
    }

    .painting-details-content{
        display: grid;
        grid-template-rows: auto auto auto;
    }

    #Color-Button{
        display: flex;
        width: 300px;
        height: 48px;
    }

    #Colors-Background{
        width: 300px;
    }
</style>

@{ 
    // Create paintingID tag
    string paintingID = "S" + Model.Season + "E" + Model.Episode;
}

<h1>'The Joy of Painting' @paintingID</h1>

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div class="painting-details">
    <img class="painting-image" src="@Url.Content(Model.ThumbnailFile)" alt="Painting Image" />
    <div class="painting-details-content">
        <div>
            @Html.DisplayFor(model => model.Description)
        </div>
        @*Dropdown list toggled (collapsed) on button press*@

        <button id="Color-Button" data-toggle="collapse" data-target="#Colors-Background">
            @Model.Colors.Count Colors
        </button>
        <div class="collapse" id="Colors-Background">
            <div class="card card-body bg-light" id="Colors-Card">
                @if (Model.Colors != null)
                {
                    foreach (var color in Model.Colors)
                    {
                        <div id="Painting-Color">
                            <a href="@color.BuyLink" style="color: black" target="_blank">
                                @*Changes color of SVG to hex code of color*@
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" 
                                     style="height: 16px; width: 16px;">
                                    <path d="M0 0h512v512H0z" fill="#e3e3e3" fill-opacity="0"></path>
                                    <g class="" transform="translate(0,0)" style="touch-action: none;">
                                    <g><path d="M406.043 316C430.153 412.443 355.453 496 256.043 
                                             496C156.633 496 81.638 413.62 106.043 316C121.043 256
                                             196.043 166 256.043 16C316.043 166 391.043 256 406.043
                                             316Z" class="selected" fill="#@color.HexColor" 
                                             fill-opacity="1"></path></g></g></svg>
                                @color.ColorName
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
        <div>
            <iframe width="304" height="182" src="@Url.Content(Model.VideoUrl)" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="align-items-md-stretch">
    <a asp-controller="Painting" asp-action="AllPaintings">Back to List</a>
    <a href="@Url.Action("UpdatePainting", "Painting", new { id = Model.Id })">Edit Painting</a>
    <a href="@Url.Action("DeletePainting", "Painting", new { id = Model.Id })">Delete Painting</a>
</div>
