@model HappyTrees.Models.Painting

@{
    ViewData["Title"] = "PaintingDetails";
}

<style>
    h1 {
        font-size: 14px;
    }
    
    h2 {
        font-size: 48px;
    }

    .painting-details{
        display: grid;
        grid-template-columns: 512px 480px;
    }

    .painting-details-content{
        display: grid;
        grid-template-rows: auto auto auto;
    }

    #Color-Button{
        display: flex;
        width: 300px;
        height: 48px;
    }

    #Colors-Background{
        width: 300px;
    }
</style>

@{ 
    // Create paintingID tag
    string paintingID = "S" + Model.Season + "E" + Model.Episode;
}

<h1>'The Joy of Painting' @paintingID</h1>

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div class="painting-details">
    <img class="painting-image" src="@Url.Content(Model.ThumbnailFile)" alt="Painting Image" />
    <div class="painting-details-content">
        <div>
            @Html.DisplayFor(model => model.Description)
        </div>
        @*TO DO: Start "Dropdown list" as collapsed*@

        <button id="Color-Button" data-toggle="collapse" data-target="#Colors-Background">
            @Model.Colors.Count Colors
        </button>
        <div class="card card-body bg-light" id="Colors-Background">
            @if (Model.Colors != null)
            {
                foreach (var color in Model.Colors)
                {
                    <div id="Painting-Color">
                        <a href="@color.BuyLink" target="_blank">
                            @color.ColorName
                        </a>
                    </div>
                }
            }

        </div>
        @*Retrieves the VideoURL property and calls the url for the embeded youtube player*@
        <div>
            <iframe width="304" height="182" src="@Url.Content(Model.VideoURL)" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Painting" asp-action="AllPaintings">Back to List</a>
</div>
